#inicio{
    width: 70%;
}

.card-img-top{
    height: 50%;
}

#footer{
    background-color: #f1f1f1;
}

#copyright{
    background-color: rgba(0, 0, 0, 0.2);
}

#carouselExampleControls{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-item > a > img {
    height: 35rem;
}

.movie-title{
    margin: 1rem;
    margin-left: 5rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

hr{
    margin-left: 2rem;
    margin-right: 2rem;
}

#card-movie{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}

.list-group{
    width: 50%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.list-group > a{
    background-color: #f1f1f1;
}

#footer{
    bottom: 0rem;
}

.people-movies{
    border: none;
    height: 15rem;
    width: 12rem;
    margin-top: 2rem;
}

.people-movies > img {
    height: 15rem;
    width: 12rem;
}

.people-movies-footer {
    height: 3rem;
    width: 12rem;
    margin-bottom: 2rem;
}

h4{
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

a:hover{
    text-decoration: none;
}

.card-image-people{
    margin-left: 2rem;
}

.card-div-left{
    display: flex;
    align-items: center;
}

.card-div-left > img{
    width: 20rem;
    height: 30rem;
}

body{
    background-color: #f1f1f1;
}

#newwindow{
    top: 1rem;
    right: 2rem;
    position: absolute;
}

.new-window-img{
    width: 50%;
    margin-bottom: 3rem;
}

#new-window-title{
    margin-bottom: 2rem;
    padding: 1rem;
    color: white;
}