main{
    min-height: 32rem;
}

#inicio{
    width: 70%;
}

.card-img-top{
    height: 50%;
}

#footer{
    background-color: #f1f1f1;
}

#copyright{
    background-color: rgba(0, 0, 0, 0.2);
}

#carouselExampleControls{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-item > a > img {
    height: 35rem;
}

.movie-title{
    margin: 1rem;
    margin-left: 5rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

hr{
    margin-left: 2rem;
    margin-right: 2rem;
}

#card-movie{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}

.list-group{
    width: 50%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.list-group > a{
    background-color: #f1f1f1;
}

.list-group-item-action{
    background-color: white;
}

.people-movies{
    border: none;
    height: 15rem;
    width: 12rem;
    margin-top: 2rem;
}

.people-movies > img {
    height: 15rem;
    width: 12rem;
}

.people-movies-footer {
    height: 3rem;
    width: 12rem;
    margin-bottom: 2rem;
}

h4{
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

a:hover{
    text-decoration: none;
}

.card-image-people{
    margin-left: 2rem;
}

.card-div-left{
    display: flex;
    align-items: center;
}

.card-div-left > img{
    width: 20rem;
    height: 30rem;
}

body{
    background-color: #f1f1f1;
}

#newwindow{
    top: 1rem;
    right: 2rem;
    position: absolute;
}

.new-window-img{
    width: 50%;
    margin-bottom: 3rem;
}

#new-window-title{
    margin-bottom: 2rem;
    padding: 1rem;
    color: white;
}

#forms-register{
    margin: auto;
    background-color: white;
    padding: 2rem;
}

#forms-register > div > select{
    width: 100%;
    height: 2.5rem;
    border: 1px solid  #c2c2c2;
}

#forms-register > div {
    margin-top: 1rem;
}

#next, #previous{
    margin: auto;
    margin-top: 2rem;
}

#next{
    margin-right: 1rem;
}

#previous{
    margin-left: 1rem;
}

#next > img, #previous > img{
    height: 2rem;
}

#image-movie{
    height: 100%;
}

#form-assign-production{
    background-color: white;
    margin: auto;
    margin-top: 4rem;
    padding: 2rem;
}

#form-assign-production > div > select{
    width: 100%;
    height: 2.5rem;
    border: 1px solid  #c2c2c2;
}

.form-checkboxes{
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    background-color: white;
    padding: 3rem;
}

.form-checkboxes > h4{
    margin-bottom: 4rem;
}

#submit-assign, #submit-deassign{
    margin-top: 3rem;
}

.modal{
    margin-top: 7rem;
}

.modal-title{
    color: white;
}

#produccion-por-defecto{
    margin: auto;
}

.select-add-production{
    width: 100%;
    height: 2.5rem;
    border: 1px solid  #c2c2c2;
}

#btnAddProd, #btnAddProdReset{
    margin-top: 2rem;
}